.display-container {
   
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
    border-radius: 10px;
}

.account-container {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 10px;
}

.transactions {
    display: inline-block;
    border: 1px solid #0A2540;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.account {
    display: inline-block;
    border: 1px solid #0A2540;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 10px;
    margin-left: 500px

    
}

.card {
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    padding: 10px 20px;
  }
