.display-container {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    display: flexbox;
    border-radius: 10px;
    /* background-color: #D4F1F4;
    color: #05445E; */
}

.account-container {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #D4F1F4;
    color: #05445E;

}

.transactions {
    display: inline-block;
    border: 1px solid #0A2540;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 10px;
    /* width: 50%; */
}

.account {
    display: inline-block;
    border: 1px solid #0A2540;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #e0e0de;
    /* color: #D4F1F4; */
}

.card {
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    padding: 10px 20px;
  }
